# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
# eclipse ignore
.settings/
.project
.classpath
# idea ignore
.idea/
*.ipr
*.iml
*.iws
.ideaDataSources
# temp ignore
logs/
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp
# system ignore
.DS_Store
Thumbs.db
*.bat
disconf/
*.adoc
!/dubbo-admin/src/main/webapp/WEB-INF/classes/
